* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#message-table-body {
  border-collapse: collapse;
  width: 800px;
}

#message-table-body tr {
  border: 1px solid #000000;
}

#message-table-body th,
#message-table-body td {
  padding: 15px;
  text-align: left;
}

#message-table-body th {
  background-color: #f0f0f0;
}

